/* For desktop: */

.main-nav-bar {
	width: 95%;
	border-radius: 0.5rem;
	margin-top: 10px;
	background-color: white;
	box-shadow: 0 5px 18px 0 #8e8c7b;
	/* height: 60px; */
	padding: 0;
	position: relative;
}
.bootstrap-nav-bar {
	display: none !important;
}
.slick-item {
	width: 100%;
	display: flex !important;
	flex-direction: column !important;
	justify-content: center !important;
	align-items: center !important;
}

.home-nav--bar {
	width: 100%;
	border-radius: 0.5rem;
	display: flex;
	padding-top: 0.2rem;
	background-color: transparent;
	height: 60px;
}

.logo {
	width: 95px;
	height: 50px;
}

.decor {
	position: absolute;
	left: auto;
	top: 99%;
	right: 1%;
	height: 1.5rem;
}

.nav-bar-btn-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.control-btns-menu {
	display: none;
}

@media screen and (max-width: 900px) {
	.nav-bar-btn {
		display: none;
	}
	.separator-line {
		width: 90%;
	}

	.control-btns-menu {
		margin-top: -15px;
		display: block;
	}

	.control-btns-menu-content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 5% 0 5%;
	}

	.control-menu-sub-btns {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.6em;
	}

	.connect-wallet-btn {
		font-size: 12px;
		padding: 0.1em 0.5em 0.1em 0.5em;
	}
	.nav-bar-btn-mob {
		font-size: 12px;
		padding: 0em 0em 0em 0em;
		border: 0;
		background-color: transparent;
		color: grey;
	}
	.nav-bar-btn-mob:hover {
		background-color: transparent;
	}
}

/* ---------- mine -------- */

.header_top {
	background: linear-gradient(
		to left,
		#321f37 0%,
		#260b4a 2.02%,
		#293271 29.29%,
		#8d7cda 100%
	);
	border: 1px solid rgba(0, 0, 0, 0);
}

.header_top .header_top_text {
	margin-bottom: 0;
	color: #fff;
	padding: 15px 0;
	font-weight: 700;
}

.header_top .header_top_text a {
	color: #fff !important;
	padding-left: 5px !important;
}

.header_top .header_top_text img {
	width: 25px;
}

.header_top .login,
.header_top .sign_up {
	background-color: transparent;
	color: #fff;
	border-radius: 20px;
	margin-right: 10px;
	padding: 3px 15px;
	border: 1px solid #fff;
	font-weight: 500;
	padding-bottom: 4px;
	font-size: 14px;
}

.header_top .sign_up {
	background-color: #fff;
	color: #c576d1;
}

.navbar {
	position: relative;
}

.navbar::before {
	content: "";
	background-image: url("../../assets/home-images/box.png");
	position: absolute;
	background-repeat: no-repeat;
	left: 42px;
	top: 95px;
	height: 10px;
	object-fit: initial;
	min-width: 10px;
	background-size: contain;
	-webkit-animation: action 1.5s infinite alternate;
	animation: action 1.5s infinite alternate;
}

@-webkit-keyframes action {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-20px);
	}
}

@keyframes action {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-20px);
	}
}

.navbar-brand img {
	width: 80px;
	height: 115px;
	object-fit: contain;
	cursor: pointer;
}

.nav_bar {
	padding-top: 15px;
}

.nav-link {
	margin-right: 8px;
	font-size: 13px !important;
	text-transform: uppercase;
	font-weight: 700 !important;
}

.nav-link.active {
	color: #0b0d39 !important;
	font-weight: 700;
}

.connect_btn {
	border-radius: 35px 35px 35px 9.77px;
	background: linear-gradient(
		to right,
		#6c7fdd 0%,
		#cd77d3 54.09%,
		#e4bad0 100%
	);
	border: none;
	box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.16);
	color: #fff;
	padding: 10px 20px;
	font-weight: 700;
}

@media (max-width: 1200px) {
	.nav-link {
		margin-right: 3px;
		font-size: 10px !important;
	}

	.navbar-brand img {
		width: 55px;
	}
}

@media (max-width: 860px) {
	.bootstrap-nav-bar {
		display: block !important;
	}

	.slick-nav-bar {
		display: None;
	}
}

@media (max-width: 767px) {
	.navbar::before {
		left: 4px;
	}

	.header_top .header_top_text {
		font-size: 15px;
	}

	.header_top .header_top_text img {
		width: 20px;
	}

	.header_top .login,
	.header_top .sign_up {
		margin-bottom: 10px;
	}
}
